---
const personalImageAlt = "Martin Marchionni";
import * as m from "../paraglide/messages.js";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 max-w-[600px] [&>p>strong]:text-cyan-600 dark:[&>p>strong]:text-cyan-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      {m.home_about_me_intro()}
      <strong>{m.home_about_me_intro_strong1()}</strong>
      {m.home_about_me_intro_strong2()}
    </p>

    <p>
      {m.home_about_me_stack()}
      <strong>{m.home_about_me_stack_strong()}</strong>
      {m.home_about_me_stack_end()}
      {m.home_about_me_tools()}
    </p>

    <p>
      {m.home_about_me_search()}
      {m.home_about_me_search_strong()}

      {m.home_about_me_search_end()}
      {m.home_about_me_adaptability()}
      <strong>
        <em class="italic">
          {m.home_about_me_adaptability_strong()}
        </em>
      </strong>
    </p>
  </div>

  <img
    width="1200"
    height="1600"
    src="/foto-portafolio.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
