---
const currentYear = new Date().getFullYear();
import * as m from "../paraglide/messages.js";
const locale = Astro.url.toString().split("/")[1];
---

<footer
  class="px-4 opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span
      class="text-sm sm:text-center pr-8 text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      Martin Marchionni. {m.footer_text()}
      <a href="https://github.com/midudev/porfolio.dev" class="hover:underline"
        >midudev</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href=`${locale}#sobre-mi` class="hover:underline me-4 md:me-6"
          >{m.footer_sobre_mi}</a
        >
      </li>
      <li>
        <a
          id="contacto"
          href="mailto:workspacetinchx1@gmail.com"
          class="hover:underline">{m.footer_contacto}</a
        >
      </li>
    </ul>
  </div>
</footer>
