---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import MongoDB from "./icons/MongoDB.astro";
import Express from "./icons/Express.astro";
import * as m from "../paraglide/messages.js";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#00684A] text-white",
    icon: MongoDB,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#000000] text-white",
    icon: Express,
  },
};
const PROJECTS = [
  {
    title: m.home_projects_title1,
    description: m.home_projects_description1,
    link: "https://www.talksmart.app/",
    github: "",
    image: "/projects/talksmart.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MONGODB, TAGS.EXPRESS],
  },
  {
    title: m.home_projects_title2,
    description: m.home_projects_description2,
    link: "https://www.talksmart.app/en/blog",
    image: "/projects/blog.webp",
    tags: [],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="w-auto h-56 transition duration-500 md:scale-90 md:group-hover:scale-100"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
